*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/videotracking/src/main/jni/videotracking.sdf
/videotracking/src/main/jni/videotracking.sln
/videotracking/src/main/jni/videotracking.vcxproj
/videotracking/src/main/jni/test_android.cpp
